* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: #444444;
}

/* navbar styling */
nav {
    padding: 10px;
    background-color: #fb5607;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

#navbar a {
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px 25px;
    color: white;
}

/* ----------------About Section Styling  */
#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    line-height: 2;
}

#welcome-section div {
    text-align: center;
    font-size: 2.5em;
}

#welcome-section h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: .7em;
    color: #fb5607;
}

#project-head {
    margin-top: 100px;
    margin-bottom: 70px;
    text-decoration: underline;
    color: white;
}

/* ---------------- projects section */
#projects {
    max-width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    padding-bottom: 100px;

}

.project {
    margin: 40px 0;
}

.project-image {
    /*   height: 400px;
    width: 400px; */
    width: 40vh;
    height: 40vh;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    background-color: gray;
    width: 40vh;
    padding: 10px 0;
}

.project:hover .project-title {
    /* background-color: #fb5607; */
    background-color: black;
    text-decoration: underline;
    /* color: #fb5607; */
}

#projects a {
    text-decoration: none;
    color: white;
}

.project-title h4 {
    font-weight: 400;
}

/* *************** Contact section *************** */
#contacts {
    background-color: #333333;
    color: white;
}

#contacts .title {
    padding: 100px 0;

}

#contacts h1 {
    font-size: 3em;
    padding: 20px 0;
}

#contacts p {
    font-weight: 100;

}

#contacts .icons {
    padding-bottom: 150px;
}

.icons a {
    font-size: 2em;
    padding: 0 20px;
    color: white;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}


footer {
    color: white;
    background-color: #333333;
}

footer div {
    padding: 20px 0;
}

.icons a:hover {
    top: -7px;

}