* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: #444444;
}

/* navbar styling */
nav {
    padding: 10px;
    background-color: #fb5607;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

#navbar a {
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px 25px;
    color: white;
}

/* About Section Styling  */
#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    line-height: 2;
}

#welcome-section div {
    text-align: center;
    font-size: 2.5em;
}

#welcome-section h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: .7em;
    color: #fb5607;
}

#project-head {
    margin-top: 100px;
    margin-bottom: 70px;
    text-decoration: underline;
    color: white;